.add-form__container {
  width: 100%;
}

.add-form__box {
  border: 4px solid white;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
