<div *ngIf="isOpen" class="add-form__container">
  <div class="add-form__box">
    <div class="form">
      <div class="inputs">
        <div>
          <label for="coffeeLogDate">Date</label>
          <input type="date" id="coffeeLogDate" #coffeeLogDate />
        </div>
        <div>
          <label for="coffeeLogQuantity">Number of cups</label>
          <input type="number" id="coffeeLogQuantity" #coffeeLogQuantity />
        </div>
      </div>
      <button
        class="primary__btn"
        (click)="addLog(coffeeLogDate.value, coffeeLogQuantity.value)"
      >
        Add Coffee Log
      </button>
    </div>
  </div>
</div>
