main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  align-items: center;
  display: flex;
}

h1 {
  font-size: 4rem;
}

.coffeeImage {
  aspect-ratio: 1/1;
  width: 200px;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
