<div *ngIf="coffeeLogs.length" class="coffee-logs__container">
  <div class="coffee-logs__banner">
    <h2>Your Coffee Logs:</h2>
  </div>
  <div class="coffee-logs__box">
    <div class="coffee-log__header">
      <div>#</div>
      <div>Date</div>
      <div>Cups</div>
    </div>
    <ul class="coffee-logs">
      <li *ngFor="let log of coffeeLogs; let i = index">
        <a class="coffee-log">
          <div>{{ i + 1 }}</div>
          <div>{{ formatDate(log) }}</div>
          <div>{{ log.quantity }}</div>
        </a>
      </li>
    </ul>

    <button class="add__btn">+</button>
  </div>
</div>
