.coffee-logs__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.coffee-logs {
  border: 4px solid white;
  min-height: 400px;
  max-height: 600px;
  overflow-x: auto;
  padding: 40px;
  width: 1000px;
}

.coffee-log__header {
  border: 2px solid black;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 4px 0 black;
  padding: 20px;
  text-transform: uppercase;
}

.coffee-log {
  border: 2px solid white;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: var(--pumpkinLatte);
  border-radius: 24px;
  box-shadow: 0 4px 0 white;
  padding: 20px;
}

ul {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: bold;
  list-style: none;
  gap: 20px;
}
