<div *ngIf="coffeeLogs.length" class="coffee-logs__container">
  <div class="coffee-logs">
    <div class="coffee-logs__banner">
      <h2>Your Coffee Logs:</h2>
    </div>
    <ul>
      <li class="coffee-log__header">
        <div>#</div>
        <div>Date</div>
        <div>Cups</div>
      </li>
      <li *ngFor="let log of coffeeLogs">
        <a class="coffee-log">
          <div>{{ log.id }}</div>
          <div>{{ formatDate(log) }}</div>
          <div>{{ log.quantity }} Cups</div>
        </a>
      </li>
    </ul>
  </div>
</div>
