@media (max-width: 620px) {
  .logo {
    gap: 4px;
  }

  .logo {
    flex-direction: column;
  }

  .logo > h1 {
    font-size: 3rem;
  }
}

@media (min-width: 621px) {
  .logo {
    gap: 20px;
  }

  .logo > h1 {
    font-size: 4rem;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 100%;
}

.logo {
  align-items: center;
  display: flex;
}

.logo > h1 {
  color: white;
  font-family: "Pacifico", cursive;
  text-shadow: 4px 4px 10px var(--darkCoffee);
}
